*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 62, 177);
}

.main{
    display: flex;
    flex-direction: column;
    align-content: center;
    /* width: 50rem; */
    justify-content: center;
    text-align: center;
    margin: 20px auto;
}

.main h1{
    font-size: 74px;
    font-family: sans-serif;
    color: rgb(255, 213, 0);
}

.main h2{
    display: inline-block;
    background: rgb(117, 158, 191);
    border-radius: 20px;
    margin: 6px;
    padding: 12px 5px;
}

button{
    margin: 6px;
    width: 12rem;
    padding: 12px 5px;
    border-radius: 20px;
    border: none;
    background-color: rgb(111, 229, 255);
    box-shadow: 1px 1px 3px black;
}

#pauseGame{
    display: none;
}
button:hover{
    cursor: pointer;
}

.grid{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 180px 180px 180px;
    justify-content: center;
}
.square{
    padding : 10px;
    height: 160px;
    border: 3px solid black;
    background-color: 1px 3px 5px rgb(160, 255, 45);
    margin: 10px;
}

.mole{
    background: url('../../Assets/mole.png');
    background-size: cover;
}